<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title><%= pageTitle %> | <%= siteName %></title>
    <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:site_name" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="header">
      <div class="header-logo">
        <p><img src="img/250x50.png" alt=""></p>
      </div>
      <nav class="header-menu">
        <ul>
          <li><a href="<%= homeURL %>"><span>menu1</span></a></li>
          <li><a href="<%= homeURL %>"><span>menu2</span></a></li>
          <li><a href="<%= homeURL %>"><span>menu3</span></a></li>
          <li><a href="<%= homeURL %>"><span>menu4</span></a></li>
          <li><a href="<%= homeURL %>"><span>menu5</span></a></li>
        </ul>
      </nav>
    </header>
